 <!doctype html>
<html>
  <head>
    <title>React Isomorphic Server Side Rendering Example</title>
    <link href='/src/css/style.css' rel="stylesheet">
  </head>
  <body>
    <!-- reactOutput is the server compiled React Dom Nodes -->
    <!-- comment out reactOutput to see empty non indexable source in browser -->
    <div id="main">
      <div><%- reactOutput %></div>
    </div>

    <!-- comment out main.js to ONLY see server side rendering -->
    <script src="/src/js/scripts.js"></script>
    <script>
      window.__STATE__ = "<%- state %>";
    </script>
  </body>
</html>